{{!-- character-sheet-fr.hbs --}}
<div class="character-sheet">
    <header>
        <h1>{{actor.name}}</h1>
        <h2>{{system.class}} {{system.level}}</h2>
    </header>

    {{!-- Stats Section --}}
    <div class="stats">
        <h3>{{localize "Statistics"}}</h3>
        <ul>
            <li>{{localize "ArmorClass"}} : {{numberFormat system.stats.ac decimals=0}}</li>
            <li>{{localize "HitPoints"}} : {{numberFormat system.stats.hp decimals=0}}</li>
            <li>{{localize "Speed"}} : {{numberFormat system.stats.speed decimals=0}}</li>
        </ul>
    </div>

    {{!-- Abilities Section --}}
    <div class="abilities">
        <h3>{{localize "Attributes"}}</h3>
        <ul>
            {{#each actor.system.abilities as |value key|}}
            <li>{{localize (concat "DND.abilities." key)}}: {{value.value}} ({{localize (concat "DND.abilities.modifiers." key)}}: {{value.mod}})</li>
            {{/each}}
        </ul>
    </div>

    {{!-- Skills Section --}}
    <div class="skills">
        <h3>{{localize "Skills"}}</h3>
        <ul>
            {{#each actor.system.skills as |value key|}}
            <li>{{localize (concat "DND.skills." key)}}: {{value.value}} {{#if value.proficient}}({{localize "Proficient"}}){{/if}}</li>
            {{/each}}
        </ul>
    </div>

    {{!-- Saving Throws Section --}}
    <div class="saving-throws">
        <h3>{{localize "Saving Throws"}}</h3>
        <ul>
            {{#each savingThrows}}
            <li>{{localize this}}: {{#if actor.system.savingThrows.[@key].proficient}}{{localize "Proficient"}}{{else}}{{localize "Not Proficient"}}{{/if}}</li>
            {{/each}}
        </ul>
    </div>

    {{!-- Inventory Section --}}
    <div class="inventory">
        <h3>{{localize "Inventory"}}</h3>
        <ul>
            {{#each actor.items as |item|}}
                {{#if (eq item.type "equipment")}}
                    <li>{{item.name}} ({{item.system.quantity}})</li>
                {{/if}}
            {{/each}}
        </ul>
    </div>

    {{!-- Spells Section --}}
    <div class="spells">
        <h3>{{localize "Spells"}}</h3>
        <ul>
            {{#each actor.items as |item|}}
                {{#if (eq item.type "spell")}}
                    <li>{{item.name}} (Niveau {{item.system.level}})</li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
